<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>FunctionDemo</display-name>
	<welcome-file-list>
		<welcome-file>recommendServlet</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>recommendServlet</servlet-name>
		<servlet-class>com.gisso.servlet.recommendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>recommendServlet</servlet-name>
		<url-pattern>/recommendServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>com.gisso.servlet.searchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/searchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchResultServlet</servlet-name>
		<servlet-class>com.gisso.servlet.searchResultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchResultServlet</servlet-name>
		<url-pattern>/searchResultServlet</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
	</jsp-config>
	<servlet>
		<description></description>
		<display-name>showNewsServlet</display-name>
		<servlet-name>showNewsServlet</servlet-name>
		<servlet-class>com.gisso.servlet.showNewsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showNewsServlet</servlet-name>
		<url-pattern>/showNewsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>analyServlet</display-name>
		<servlet-name>analyServlet</servlet-name>
		<servlet-class>com.gisso.servlet.analyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>analyServlet</servlet-name>
		<url-pattern>/analyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>trackServlet</display-name>
		<servlet-name>trackServlet</servlet-name>
		<servlet-class>com.gisso.servlet.trackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>trackServlet</servlet-name>
		<url-pattern>/trackServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.gisso.servlet.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/EncodingFilter</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>testKeyServlet</display-name>
		<servlet-name>testKeyServlet</servlet-name>
		<servlet-class>com.gisso.servlet.testKeyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testKeyServlet</servlet-name>
		<url-pattern>/testKeyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>showPageServlet</display-name>
		<servlet-name>showPageServlet</servlet-name>
		<servlet-class>com.gisso.servlet.showPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showPageServlet</servlet-name>
		<url-pattern>/showPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>pageTrackServlet</display-name>
		<servlet-name>pageTrackServlet</servlet-name>
		<servlet-class>com.gisso.servlet.pageTrackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pageTrackServlet</servlet-name>
		<url-pattern>/pageTrackServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>pageSearchResultServlet</display-name>
		<servlet-name>pageSearchResultServlet</servlet-name>
		<servlet-class>com.gisso.servlet.pageSearchResultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pageSearchResultServlet</servlet-name>
		<url-pattern>/pageSearchResultServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>pageNewsSearchServlet</display-name>
		<servlet-name>pageNewsSearchServlet</servlet-name>
		<servlet-class>com.gisso.servlet.pageNewsSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pageNewsSearchServlet</servlet-name>
		<url-pattern>/pageNewsSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>pageSearchSearchServlet</display-name>
		<servlet-name>pageSearchSearchServlet</servlet-name>
		<servlet-class>com.gisso.servlet.pageSearchSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pageSearchSearchServlet</servlet-name>
		<url-pattern>/pageSearchSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>searchResultPageServlet</display-name>
		<servlet-name>searchResultPageServlet</servlet-name>
		<servlet-class>com.gisso.servlet.searchResultPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchResultPageServlet</servlet-name>
		<url-pattern>/searchResultPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>searchResultAnalyServlet</display-name>
		<servlet-name>searchResultAnalyServlet</servlet-name>
		<servlet-class>com.gisso.servlet.searchResultAnalyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchResultAnalyServlet</servlet-name>
		<url-pattern>/searchResultAnalyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>errorServlet</display-name>
		<servlet-name>errorServlet</servlet-name>
		<servlet-class>com.gisso.servlet.errorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>errorServlet</servlet-name>
		<url-pattern>/errorServlet</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>400</error-code>
		<location>/errorServlet</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errorServlet</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errorServlet</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/errorServlet</location>
	</error-page>
	<error-page>
		<exception-type>java.io.WriteAbortedException</exception-type>
		<location>/errorServlet</location>
	</error-page>
	<error-page>
		<exception-type>java.io.NotSerializableException</exception-type>
		<location>/errorServlet</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/errorServlet</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/errorServlet</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.IllegalStateException</exception-type>
		<location>/errorServlet</location>
	</error-page>
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/errorServlet</location>
	</error-page>
	<error-page>
		<exception-type>java.util.concurrent.ExecutionException</exception-type>
		<location>/errorServlet</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>ZhengNeedServlet</display-name>
		<servlet-name>ZhengNeedServlet</servlet-name>
		<servlet-class>com.gisso.servlet.ZhengNeedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ZhengNeedServlet</servlet-name>
		<url-pattern>/ZhengNeedServlet</url-pattern>
	</servlet-mapping>
</web-app>